body {
  margin:0;
  padding:0;
}

#display{   
}

#nav_bar{
    position:fixed;
    width: 100vw;
    height: 8vh;
    background-image:url(nav_bar.png);
    background-repeat: no-repeat;
    background-position:70%;
}

#top_image{
    margin-top: 100px;
    width: 99vw;
    height: 100vh;
    background-image:url(top_image.jpg); 
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    background-position: center;
    background-size: cover;
    
}
.store_link{
    width: 200px;
    height: 60px;
    background-color: orange;
    text-align: center;
    font-family: sans-serif;
    font-size: 20pt;
    text-align:center;
    padding-top: 30px;
    font-weight: bold;
    left: 43%;
    bottom: 8%;
    position:absolute;
    border-radius: 20px;
    color: white;
    
}
.store_link:hover{
    color:black;
}

a.store_link:link{
    text-decoration: none;
}

#infograph1{
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    background-image: url(background7.jpg);
    background-size:cover;
}

#infograph2{
    height: 100vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    
}

.circle{
    
    height: auto;
    width: 45%;
    margin-top: 30px;
    margin-right: 3%;
}

#circle_col{
    width: 20%;
    height: 80%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    display:inline-block;
    float: left;
    background-color: transparent;
    border: 5px orange solid;
    border-radius: 20px;
}

#infograph_desc{
    display:inline-block;
    width: 68%;
    height: 80%;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 0vh;
    font-family: Calibri;
    font-size: 14pt;
    padding: 5px;
    border-radius: 20px;    
    padding: 2%;
}

#watchdisplay{
    position: absolute;
    height: auto;
    width: 40%;
    left: 30%;
    vertical-align: middle;
}


#footer{
    position: absolute;
    width: 100vw;
    height: 30vh;
    background-color: grey;
}

.socialMedia{   
    border-radius: 100px;
    float:right;
    width:5%;
    margin-top: 15vh;
    margin-right: 1%;
}

.socialMedia:hover {
    transform: scale(1.1); 
}

a.footerLinks:link ,a.active:link ,a.nonactive:link {
    color: white;
    font-size: 16pt;
    font-family: sans-serif;
    text-decoration: none;
}

a.footerLinks:visited,a.active:visited ,a.nonactive:visited {
    color: white;
}

a.nonactive:hover {
    color: orange;
}

a.active:hover{
    color: black;
}

a.footerLinks:hover{
    color: orange;
}

#custlink{
    position:absolute;
    top: 20%;
    left: 10vw;
}

#aboutlink{
    position: absolute;
    top: 40%;
    left: 10vw;
}

#faqlink{
    position: absolute;
    top: 60%;
    left: 10vw;
    
}

#cus_nav_bar{
    position:fixed;
    width: 100vw;
    height: 8vh;
    background-image:url(cus_nav_bar.png);
    background-repeat: no-repeat;
    background-position:70%;
}

#cusImage{
    margin-top: 100px;
    width: 99vw;
    height: 50vh;
    background-image:url(cusImage.jpg); 
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    background-position: center;
    background-size: cover;
}

#cusTitle{
    text-align:center;
    font-family: Verdana;
    font-family: Verdana;
    font-size: 25pt;
    color: rgb(114, 137, 175);
    top: 10vh;
    margin-bottom: 5vh;
    
}

#cusBody{
    margin-top: 5vh;
    
}

#msgCol{
    margin-left: 20vw;
    margin-right: 20vw;
    height: 130vh;
    
}

#contactInfo{
    position: absolute;
    margin-left: 20vw;
    margin-right: 20vw;
    
}

.sm_inputBox{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 3px;
    font-family: Verdana;
    font-size: 14pt;
}

#msgInput{
    width: 100%;
    height: 20vh;
    margin-top: 3vh;
    font-family: Verdana;
    font-size: 14pt;   
}

input[type=text]:focus {
    background-color: orange;
}

#submit_But{
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 20%;
    height: 5vh;
    font-family: Verdana;
    font-size: 14pt; 
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#thankyou {
    position: fixed;
    height: 10vh;
    width: 30vw;
    top: -20vh;
    left: 35vw;
    background-color: white;
    border: 3px solid orange;
    font-family: Verdana;
    font-size: 16px;
    padding-top: 6vh;
    text-align: center;
    
}

#ok{
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-family: Verdana;
    background-color: orange;
    color: white;
    border-radius: 5px;
}

#errorMsg{
    position: relative;
    width: 100%;
    height: 10%;
    font-family: Verdana;
    color: red;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline;
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 3vh 3vw;
    text-decoration: none;
}
.active {
    background-color: orange;
}
/*infograph titles*, subtitles, desc text,  profile picture*/
#desc_title{
    font-family: Verdana;
    font-size: 25pt;
    color: rgb(114, 137, 175);
    
}

#desc_subtitle{
    font-family: Verdana;
    font-size: 16pt;
    color: orange;
}

#desc_text{
    font-size: 16pt;
}

.profile{
    width: 12%;
    height: auto;
    border-radius: 100%;
    margin-left:2%;
    margin-top: 2%;
    display: inline-block;
}

#profile_text{
    width: 80%;
    margin-left:2%;
    display: inline-block;
}
/*faq css*/
#faqBody{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#faqCol{
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vh;
    height: auto;
}

#faqImage{
    margin-top: 100px;
    width: 99vw;
    height: 50vh;
    background-image:url(faqImage.jpg); 
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    background-position: center;
    background-size: cover;
    margin-bottom: 5vh;
}

#faq_text{
    font-family: Calibri;
    font-size: 16pt;
}

a.faqLink:link{
    font-size: 16pt;
    font-family: Calibri;
    color: rgb(114, 137, 175);
}

a.faqLink:visited{
    color: rgb(114, 137, 175);
}

a.faqLink:hover{
    color:black;
}
/*end of faq css*/
/*start of about css*/
#aboutImage{
    margin-top: 100px;
    width: 99vw;
    height: 50vh;
    background-image:url(aboutImage.jpg); 
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    background-position: center;
    background-size: cover;
    margin-bottom: 5vh;  
}

/*end of about css*/
/*end of Iris' Stuff*/

/* Homy's Stuff */

.info2_text {
    position: absolute;
    font-family: Calibri;
    font-size: 20px;
    color: grey;
    width: 20%;
    font-weight: bold;
    left: 70%;
    height: 10%;
    border-radius: 15px;
    text-align: center;
}

#tracker_text {
    margin-top: 7%;  
}

#nav_text {
    margin-top: 14%;
}

#music_text {
    margin-top: 21%; 
}

#answercall_text {
    margin-top: 28%;
}

.info2_color {
    position: absolute;
    left: 9%;
    font-family: Calibri;
    font-size: 25px;
    color: grey;
    width: 20%;
    margin-top: 25%;
    border-radius: 20px;
    text-align: center;
}

#colour_options {
    font-weight: bold;
    position:absolute;
    left: 7%;
    font-family: Verdana;
    font-size: 20px;
    color: grey;
    width: 30%;
    margin-top: 10%;
}

.color_circle {
    border-radius: 20px;
    position: absolute;
    margin-top: 15%;
    height: 10%;
    width: 10vh;
}

#gold {
    left: 10%;
    background-color: rgb(255, 240, 195);
}

#silver {
    left: 16%;
    background-color: rgb(218, 219, 224);
}

#rose {
    left: 22%;
    background-color: rgb(254, 200, 190);
}

#watchscreen {
    position: absolute;
    margin-top: 10%;
    left: 42.7%;
    height: 35%;
    width: 14%;
    height: auto;
}

#store_display {
    position: absolute;
    margin-top: 50vh;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#store_background {
    position: absolute;
    background-image: url(stretch1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}

#store_header {
    font-family: Verdana;
    font-size: 25pt;
    color: rgb(114, 137, 175);
    text-align: center;
    margin-top: 10vh;
}

#store_left {
    position: absolute;
    width: 49vw;
    height: 100vh;
    text-align: center;
}

#store_right {
    position: absolute;
    width: 49vw;
    height: 100vh;
    margin-left: 49vw;
    text-align: center;
}

#store_select_color {
    font-family: Calibri;
    font-size: 23pt;
    color: rgb(114, 137, 175);
    margin-top: 5%;
}

.color_select {
    text-align: center;
    font-family: Calibri;
    font-size: 20pt;
    color: grey;
    margin-top: 10%;
    border-radius: 25px;
    width: 50%;
    
}

#store_gold {
    background-color: white; 
}

#store_silver {
    background-color: rgb(218, 219, 224);
}

#store_rose {
    background-color: white;
}

#store_img {
    width: 60%;
    height: auto;
    margin-top: 5%;
}

#store_price {
    font-family: Calibri;
    font-size: 30pt;
    color: rgb(114, 137, 175);
}

#place_order {
    background-color: orange;
    color: white;
    width: 30%;
    height: 8%;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20pt;
    border-radius: 15px;
    margin-top: 5%;
}

#footer_store {
    margin-top: 160vh;
    position: absolute;
    width: 100vw;
    height: 30vh;
    background-color: grey;
}

#order_confirm {
    position: fixed;
    width: 70vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 100vw;
    border: 2px orange solid;
    background-color: white;
}

#confirm_header {
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    font-family: Calibri;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(114, 137, 175);
}

#order_next {
    position: absolute;
    margin-top: 47%;
    margin-left: 70%;
    background-color: orange;
    color: white;
    width: 20%;
    height: 8%;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20pt;
    border-radius: 15px;
}

#order_exit {
    position: absolute;
    margin-left: 97%;
    background-color: orange;
    color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20pt;
}

#confirm_left {
    position: absolute;
    width: 50%;
    height: 100%;
}

#confirm_right {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 50%;
}

#payment_header {
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    font-family: Calibri;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(114, 137, 175);
}

#same_address {
    position: absolute;
    margin-left: 5%;
    margin-top: 15%;
    background-color: orange;
    color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 5px;
}

.store_input {
    display: block;
    margin-top: 3%;
    margin-left: 15%;
    width: 70%;
    font-family: Calibri;
    font-size: 14pt;
    border: 1px black solid;
}

#store_email_input {
    margin-top: 20%;
}

.card_but {
    margin-top: 20%;
    margin-left: 15%;
    width: 30%;
    height:auto;
    font-family: Calibri;
    font-size: 12pt;
    background-color: white;
    border-radius: 10px;
    color: dimgrey;
}

#name_card {
    margin-top: 10%;
}


.card_icon {
    width: 100%;
}

.errors_msg {
    background-color: white;
    width: 70%;
    height: 15%;
    margin-left: 15%;
    margin-top: 5%;
    color: red;
    font-family: Calibri;
    font-size: 14pt;
}

#final_page {
    position: fixed;
    width: 70vw;
    height: 70vh;
    margin-top: 15vh;
    margin-left: 100vw;
    border: 2px orange solid;
    background-color: white;
}

#final_left {
    position: absolute;
    width: 35vw;
    height: 70vh;
}

#final_right {
    position: absolute;
    width: 35vw;
    height: 70vh;
    margin-left: 50%;
}

#order_overview {
    position: absolute;
    margin-top: 1vh;
    margin-left: 2vw;
    font-family: Calibri;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(114, 137, 175);
}

#order_item {
    position: absolute;
    width: 31vw;
    height: 20vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border: 2px dimgrey solid;
}

#order_item_name {
    position: absolute;
    margin-left: 12vw;
    margin-top: 1vh;
    font-family: Calibri;
    font-size: 14pt;
}

#order_price {
    position: absolute;
    margin-left: 12vw;
    margin-top: 12vh;
    font-family: Calibri;
    color: rgb(114, 137, 175);
    font-size: 20pt;
    font-weight: bold;
}

#order_item_img {
    position: absolute;
    width: 30%;
    height: auto;
}

.over_head {
    margin-top: 7vh;
    font-family: Calibri;
    font-size: 16pt;
    color: dimgrey;
    margin-left: 3vw;
    font-weight: bold;
}

.inputted {
    position: absolute;
    width: 28vw;
    height: 6vh;
    margin-left: 4vw;
    font-family: Calibri;
    font-size: 14pt;
}

#inputted_address {
    height: 27vh;
}

.over_but {
    position: absolute;
    background-color: orange;
    color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20pt;
    border-radius: 12px;
}

#over_back {
    margin-top: 30vh;
    margin-left: 1vw;
}

#order_submit {
    margin-top: 62vh;
    margin-left: 23vw;
}

#order_done {
    position: fixed;
    margin-left: 100vw;
    margin-top: 30vh;
    width: 40vw;
    height: 40vh;
    text-align: center;
    background-color: white;
    border: 2px orange solid;
}

#order_done_text {
    position: absolute;
    margin-top: 10vh;
    font-family: Calibri;
    font-size: 20px;
    color: dimgrey;
}

#ok_button {
    position: absolute;
    margin-top: 30vh;
    background-color: orange;
    border-radius: 5px;
    width: 3vw;
    color: white;
    font-size: 20pt;
    font-family: Calibri;
    text-decoration: none;

}
/* End of Homy's Stuff */

/*contact info bottom page*/
#contactInfo{
    font-family: Calibri;
    font-size: 16pt;
}


